@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

.wrapper {
  height: 100vh;
}

.bg-info {
  background-color: #000000 !important;
}

.myColor {
  background-image: linear-gradient(to right, #000000 50%, #f5edc8 150%);
}

.myShadow {
  box-shadow: 0 10px 10px rgba(186, 186, 186, 0.5);
}

.myBtn {
  border-radius: 50px;
  font-weight: bold;
  font-size: 20px;
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
  border: none;
}

.myBtn:hover {
  background-image: linear-gradient(to right, #495aff 0%, #0acffe 100%);
}

.myHr {
  height: 2px;
  border-radius: 100px;
}

.myLinkBtn {
  border-radius: 100px;
  width: 50%;
  border: 2px solid #fff;
}

.close {
  font-size: 45px;
  font-weight: 600;
  color: white !important;
}


@media (max-width: 720px) {
  .wrapper {
    margin: 2px;
  }
}